<mat-card>
  <mat-card-title>
    Tareas
    <button mat-flat-button color="primary"
            *ngIf="hasPendingTasks()"
            (click)="syncAllPendingTasks()"
            style="float: right;">
      <mat-icon>sync</mat-icon> Sincronizar todas
    </button>
  </mat-card-title>
  <mat-list class="scroll-list">
    <app-task-item
      *ngFor="let task of tasks"
      [task]="task"
      (sync)="syncTask($event)"
      (remove)="removePendingTask($event)">
    </app-task-item>
  </mat-list>
</mat-card>
